* {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: rgba(114, 160, 179, 0.749);
	height: 70px;
}

header * {
	color: rgba(27, 22, 18, 0.388);
}


input {
	padding: 10px 12px;
	display: block;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #ececec;
	line-height: 1.5rem;
	color: #444444;
}

h1 {
	font-size: 50px;
}

header h1 {
	margin-top: 1px;
}

header ul li {
	float: left;
	position: relative;
}

header ul li a {
	display: block;
	font-size: 1.2rem;
	padding: 20px;
}

header ul li a:hover {
	color: blueviolet;
}

header ul {
	float: right;
}

header ul li ul {
	position: absolute;
	width: 200px;
	display: none;
	z-index: 111;
}

header ul li ul li {
	width: 100%;
}

header ul li:hover ul {
	display: block;
}

body {
	background: linear-gradient(90deg, rgba(202,142,217,0.8916608879880077) 0%, rgba(181,171,182,1) 30%, rgba(160,169,170,1) 70%, rgba(156,255,253,0.8216328767835259) 100%);
}

.err {
	display: block;
	min-height: 24px;
	padding-left: 197px;
	color: rgba(191, 15, 15, 0.858);
	text-shadow: 0px 0px 5px rgb(237, 237, 237);
	font-size: 13px;
	font-style: italic;
}

.reg_form {
	max-width: 775px;
}

.head {
	cursor: pointer;
}

.wrapper {
	padding-top: 50px;
	width: 60%;
}

.search_area {
	background-color: transparent;
}

.search_area::placeholder {
	color:    rgba(224, 224, 224, 0.942);
	text-shadow: 0px 0px 2px rgb(36, 36, 36);
	font-size: 20px;
	padding-left: 8px;
} 

.list {
	font-size: 25px;
	text-shadow: 0px 0px 24px rgb(255, 255, 255);
}

.table {
	border-collapse: unset;
}

.panel {
	justify-content: space-between;
}

h1 {
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	color:    rgba(224, 224, 224, 0.942);
	text-shadow: 0px 0px 5px rgb(36, 36, 36);
}